@model IEnumerable<Country>
@{
    ViewData["Title"] = "List of Registered Countries";
}

@if (Model == null || Model.Count() == 0)
{
    <h4 class="display-4">No country to display at the moment</h4>
}
else
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Abbr</th>
                <th>***</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@country.Name</td>
                    <td>@country.Abbrevation</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@country.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Add">Add Country</a>
}


