@model Club;
@{
    ViewData["Title"] = $"Edit {Model.Name}";
}
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3 row" style="display: none">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="CountryId" class="col-sm-2 col-form-label"></label>
        <select asp-for="CountryId" asp-items="@(new SelectList(ViewBag.Countries, nameof(Country.Id), nameof(Country.Name)))" class="col-sm-10">
            <option value="">Select Country</option>
        </select>
        <span asp-validation-for="CountryId"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
