@model IEnumerable<Club>
@{
    ViewData["Title"] = "List of Registered Clubs";
}

@if (Model == null || Model.Count() == 0)
{
    <h4 class="display-4">No club to display at the moment</h4>
}
else
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Country</th>
                <th>***</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var club in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@club.Name</td>
                    <td>@club.Country?.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@club.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Add">Add Club</a>
}


